@import "./src/_styles/variables";
@import "./src/_styles/mixin";
@import "./src/_styles/typography";

// footer styles
.footer {
  background-image: radial-gradient(farthest-corner at right top,#193449 0,#000 75%);
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    padding: 5rem 0 0;
    max-width: 1280px;

    h3 {
      @include headline-1;
      margin-bottom: 1.5rem;

      @include respond-above(m) {
        @include headline-3;
      }
    }

    @include respond-above(m) {
      max-width: 1200px;
    }

  }

  .footer__image {
    text-align: center;
    flex: 1 0 100%;
    max-width: 100%;
    order: 2;
    margin-top: 3rem;

    @include respond-above(m) {
      flex: 1 0 66%;
      max-width: 66%;
      display: flex;
      justify-content: center;
      order: 1;
    }

    img {
      object-fit: contain;
      max-width: 75%;
      height: 100%;

      @include respond-above(s) {
        width: 25%;
      }

      @include respond-above(m) {
        width: 40%;
      }
    }
  }

  .footer__contacts {
    text-align: center;
    flex: 1 0 100%;
    max-width: 100%;

    @include respond-above(m) {
      flex: 1 0 33%;
      max-width: 33%;
      padding: 1rem 3rem;
      order: 2;
      text-align: left;

    }

    &__social {
      &__links {
        padding-inline-start: 0;
        margin: 0 rem(30px) rem(30px);
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        @include respond-above(m) {
          justify-content: left;
          margin: 0 0 rem(35px);
        }

        .social__item {
          padding: 0 1rem 1.25rem;

          @include respond-above(m) {
            padding: 0 2rem 1.25rem 0;
          }

          a {
            text-decoration: none;
          }

          a i {
            font-size: 25px;
            font-weight: bold;
            color: #70d100;
          }
        }
      }

      .social__follow {
        font-size: 1rem;
        text-decoration: none;
        color: $primary;
        font-family: 'Proxima Nova Rg', sans-serif;

        i {
          color: $primary;
          font-size: 15px;
        }
      }
    }
  }

  .footer__copyright {
    color: $grey-1;
    background: $grey-2;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: rem(15px);
    padding: .5rem 1rem;

    @include respond-above(m) {
      padding: 1rem 15rem;
    }
  }
}
