// newssection styles
.newsSection {
  padding: 3rem;
  &__wrapper {
    width: 100%;
  }

  &__title {
    text-align: center;
    padding: .5rem 0;
  }

  &__carousel__wrapper {
    border: solid 1px red;
    height: 517px;
  }
}
