// header styles

.totemHeader { // block
  position: fixed;
  width: 100%;
  background: linear-gradient(to bottom,
  #78b027 50%, #46932d 50%);
  z-index: 100;

  & .totemHeader__burgerMenuButton {
      margin: auto;
      display: none;
  }
  & .totemHeader__wrapper {
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;

    & .totemHeader__wrapper__left {
      flex: 1 0 30%;
      height: 60px;
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      justify-content: flex-end;
    }

    & .totemHeader__wrapper__center {
      flex: 1 0 39%;
      height: 60px;
      display: flex;
      flex-flow: row wrap;
    }

    & .totemHeader__wrapper__right {
      flex: 1 0 30%;
      height: 60px;
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      align-items: center;
      justify-content: flex-start;
    }
  }
  .totemHeader__leftDropdown,
  .totemHeader__langDropdown {
    position: relative;
    align-self: center;
  }
  .totemHeader__leftDropdownContent {
    position: absolute;
    top: 125%;
    left: -30%;
    width:200px;
  }
  .totemHeader__leftDropdownContentList,
  .totemHeader__rightDropdownContentList {
    display: none;
  }
  .totemHeader__link.has-submenu:hover + .totemHeader__leftDropdownContent .totemHeader__leftDropdownContentList { 
    display: block;
    list-style: none;
    background: black; 
    padding: 0;
  }
  .totemHeader__leftDropdownItem,
  .totemHeader__rightDropdownItem {
    padding: 20px 30px;
    border-bottom: 1px solid green;
  }
  .totemHeader__leftDropdownItem a,
  .totemHeader__rightDropdownItem a
  {
    text-decoration: none;
  }
  .totemHeader__link.lang-link:hover + .totemHeader__rightDropdownContent .totemHeader__rightDropdownContentList { 
    display: block;
    list-style: none;
    background: black; 
    padding: 0;
  }
  .totemHeader__rightDropdownContent {
    position: absolute;
    top: 125%;
    width: 100px;
  }
  .totemHeader__link {
    align-self: center;
    padding: 0 1.5rem;
    text-decoration: none;
  }
  .totemHeader__logoImage {
    position: absolute;
    left: 50%;
    top: -30%;
    transform: translate(-50%);
    align-self: center;
    margin: auto;
    padding: 0 1.5rem;
    width: 400px;
  }
  .totemHeader__button {
    cursor: pointer;
    align-self: center;
    padding: 5px 15px;
    color:#106d32;
    background-color: white;
    border-radius: 50px;
    border: none;
  }
  .icon-arrow-down2 {
    font-size: 10px;
    margin-right: 5px;
    font-weight: bold;
  }
  .icon-arrow-right2 {
    font-size: 10px;
    font-weight: bold;
    margin-left: 10px;
    color: white;
    background-color: green;
    padding: 3px;
    border-radius: 50px;
  }
  .icon-flag {
    font-size: 10px;
    margin-left: 5px;
    font-weight: bold;
  }
}


@media screen and (max-width: 1150px){
  .totemHeader__burgerMenuButton {
    display: block;
  }
}
