// header styles

.totem-header { // block
  position: fixed;
  width: 100%;
  background: rgb(118,175,39);
  background: linear-gradient(177deg, rgba(118,175,39,1) 0%, rgba(72,149,44,1) 100%); 

  &__wrapper {
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__left {
      flex: 1 0 30%;
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      justify-content: flex-end;
    }

    &__center {
      flex: 1 0 30%;
      display: flex;
      flex-flow: row wrap;
    }

    &__right {
      flex: 1 0 30%;
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      align-items: center;
      justify-content: flex-start;
    }
  
  }

  &__logo-image {
    align-self: center;
    margin: auto;
    padding: 0 1.5rem;
  }
  &__link {
    align-self: center;
    padding: 0 1.5rem;
    text-decoration: none;
  }
  &__button {
    align-self: center;
    padding: 5px 1px;
    color:#106d32;
    background-color: white;
    border-radius: 50px;
    border: none;
  }

  &__left-dropdown {
    position: relative;
    align-self: center;
  }
  &__left-dropdown-content {
    position: absolute;
    top: 125%;
    left: -50%;
    width:200px;
  }
  &__left-dropdown-content-list {
    display: none;
  }
  &__link.has-submenu:hover + .totem-header__left-dropdown-content .totem-header__left-dropdown-content-list { 
    display: block;
    list-style: none;
    background: black; 
    padding: 0;
  }
  &__left-dropdown-item {
    padding: 20px 30px;
    border-bottom: 1px solid green;
  }
}

