// header styles

.totem-header { // block
  &__wrapper {
    border: 1px solid red;
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__left {
      flex: 1 0 40%;
      border: solid 1px blue;
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      justify-content: flex-end;
    }

    &__center {
      flex: 1 0 20%;
      border: solid 1px orange;
      display: flex;
      flex-flow: row wrap;
    }

    &__right {
      flex: 1 0 40%;
      border: solid 1px green;
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      justify-content: flex-start;
    }

  }

  &__dropdown {
    align-self: center;
    padding: 0 1.5rem;
  }

  &__link {
    align-self: center;
    padding: 0 1.5rem;

  }

  &__button {
    align-self: center;
    padding: 0 1.5rem;
  }
}
