// newscards styles
.newsCards {
    padding-top: 10rem;
    margin-bottom: 2rem;
    width: 100%;

    @include respond-above(m) {
        padding-top: 15rem;
    }

    .newsCards__title h2 {
        position: relative;
        text-align: center;
        margin-bottom: 4rem;
        @include headline-1;

        &::before {
            filter: blur(4px);
            content: "";
            display: block;
            height: 2px;
            background: linear-gradient(90deg
            ,transparent,#70d100 30%,#dbff81 50%,#70d100 70%,transparent);
            width: 90%;
            position: absolute;
            bottom: -40%;
            left: 50%;
            transform: translateX(-50%);
        }
        &::after {
            content: "";
            display: block;
            height: 2px;
            background: linear-gradient(
                90deg
            ,transparent,#70d100 30%,#dbff81 50%,#70d100 70%,transparent);
            width: 90%;
            position: absolute;
            bottom: -40%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .newsCards__wrapper {
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        max-width: 1400px;

        .newsCards__item {
            width: 90%;
            margin-bottom: 2rem;

            .newsCards__item__image {

                img {
                    object-fit: cover;
                    width: 100%;
                }
            }

            .newsCards__item__textContent {
                background: #292929;
                margin-top: -5px;
                padding: 2rem 1rem;
                border-bottom: 1px solid white;
            }

            .newsCards__item__callToActions {
                background: #292929;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 2rem;

                .newsCards__item__callToActions__read a,
                .newsCards__item__callToActions__share a {
                    color: $primary;
                }
            }
        }
    }

}