// partnersection styles
.partner {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 100px;

  &__title {
    height: 80px;
    text-align: center;
    padding: .5rem 0;
    flex: 3 0 100%;
    color: #70d100;
  }

  &__item--featured {
    width: 100%;
    text-align: center;
    padding-bottom: 2.5rem;
  }

  &__list {
    padding-block-start: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    &__item {
      flex: 1 0 25%;
      text-align: center;
      margin:auto;
      padding: 1rem 2.5rem;
    }
  }
  .partner__becomePartner{
    text-align: center;
    margin-top: 3rem;
  }
  .partner__becomePartner a {
    text-decoration: none;
    color: #70d100;
    & i {
      font-size: 13px;
      margin-right: 7px;
      color: #70d100;
    }
  }

}
